h1
{
  color:white;
}
p
{ font-variant-east-asian: initial;
  line-height:70px;  
}
h2
{
  color:red;
  text-align: center;
  list-style-type: lower-alpha;
}
li
{
  color: darkblue;
  text-align: initial;
  list-style-image: initial;
}
ol
{
  color: white;
  text-align: right;
}
ul
{
  color: whitesmoke;  
  font-style:italic;
  line-height:70px
}
body 
{
   background-color: black; 
}
