h1
{
  color: white;
  font-style: initial;
}
p
{
  font-variant-east-asian: initial;
  color: blue;
}
h2
{
  color: black;
  text-align: left;
  list-style-type: square;
}
ol
{
  color: orange;
  text-align: initial;  
}
h3
{
  color: black;
  font-style: oblique;
}
body
{
  background-color: red;
  enable-background: inherit; 
}
h4
{
  color: black;
  font-style: unset;
}
ol
{
  text-align:center;
  font-style:italic;
}